# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env

# Django migrations
*/migrations/*
!*/migrations/__init__.py

# Database
*.sqlite3

# Logs and local settings
*.log
local_settings.py

# Media / Static files
media/
static/

# Docker files
*.pid